:host {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

main {
  padding-top: 24px;
}

header {
  background: lightgray;
  padding: 16px;
  margin: 0;
}

.header-content {
  max-width: 768px;
  margin: 0 auto;
}

button {
  margin-left: 6px;
}

.row {
  display: flex;
  margin: 0 auto;
  max-width: 768px;
}

.flip {
  -moz-transform:    scaleX(-1); /* Gecko */
  -o-transform:      scaleX(-1); /* Opera */
  -webkit-transform: scaleX(-1); /* Webkit */
  transform:         scaleX(-1); /* Standard */
}

.todo-in-row {
  margin: 8px 0;
}

.todo-row label {
  flex: 1;
  user-select: none;
  cursor: pointer;
}

.actions {
  display: flex;
  flex-basis: 10%;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.button-remove {
  color: crimson;
}

input[type="range"]::-moz-range-progress {
  background-color: lightblue; 
}
input[type="range"]::-moz-range-track {  
  background-color: gray;
}
